.timeline-page {
  display: flex;
  justify-content: center;
}

.timeline-page__timeline {
  width: 100%;
  max-width: 900px;
  margin: 2rem;
}

.story{
    cursor: pointer;
}

.pointer{
  cursor: pointer;
}